@import 'pure-min-0.6.0';
@import 'pure-grids-responsive-min-0.6.0';
@import 'letter.scss';
@import 'score.scss';
@import 'action-drawer.scss';

.tes {
    color: blue;
}
html,
body,
button,
input,
select,
textarea,
p {
    /* Set your content font stack here: */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Prevent webkit browsers resizing in landscape */
html { -webkit-text-size-adjust: none; }

/* This helps use width: 100% without hassle: */
* {
  box-sizing: border-box;
}

/*
The following is a trick I use to get my page to fill the screen vertically
since I am almost always going for the "native app" feel as much as possible.
It's ok if your body is 100% height, the overflow will be visible and there is
typically at least one top level container inside <body> such as
<div class="app"> which can benefit by having min-height: 100%;
*/
html {
  min-height: 100%;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
}

.hidden {
  display: none;
}

.narrow-container {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 760px) {
    .narrow-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.number-select {
    background-color: rgb(0, 84, 176);
    color: white;
    font-size: 2em;
    padding: 5px;
}

.tile3 {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom: 10%;
    background-color: rgb(0, 84, 176);
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
}

.wrap {
    overflow: hidden;
    margin: 10px 10px 0 10px;
}

/* uncss:ignore */

.slot-done {
    background-color: darkgrey;
}

.slot-hide {
    display:none;
}

.slot-selected {
  background-color: lightblue;
}


/* uncss:ignore */

.slot-changed {
    background-color: lightgreen;
}


/* uncss:ignore */

.slot-hover {
    cursor: pointer;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.word-declare,
/*.number-declare,*/
.number-calc,
/*,,
.letters-container,
.numbers-container,
.conundrum-container,
.clock-container*/ {
    display: none;
}


.l-box {
    padding: 0 1em 1em 1em;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    cursor: pointer;
}


/* sm and below*/

@media screen and (max-width:47.938em) {
    .hidden-sm {
        display: none !important
    }
    .visible-sm {
        display: inline
    }
    div.visible-sm {
        display: block
    }
}


/* md and greater */

@media screen and (min-width:48em) {
    .hidden-sm {
        display: inline
    }
    div.hidden-sm {
        display: block
    }
    .visible-sm {
        display: none !important
    }
}

.pure-form input[type=text][disabled] {
    color: #555;
}

.control-label {
    font-weight: bold;
}

.cent {
    text-align: center;
}

.button-xlarge {
    font-size: 200%;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.conundrum-buzz {
    text-align: center;
}

#intro-page {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 10px;
}

.mt-10 {
    margin-top:10px;
}