@import 'pure-min-0.6.0';

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    /* Set your content font stack here: */
    font-family: CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.feed {
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    border: 2px solid darkgrey;
    margin-top: 10px;
}

.slots {
    position: relative;
    min-height: 1px;
}

.narrow-container {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 760px) {
    .narrow-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 512px) {
    .letter-declare {
        text-align: center;
    }
}

.pure-form .number-select {
    background-color: rgb(0, 84, 176);
    color: white;
   /* font-size: 2vw;*/
}

.tile3 {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom: 10%;
    background-color: rgb(0, 84, 176);
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
}

.tile6 {
    @extend .tile3;
    width: 16%;
    padding-bottom: 16%;
}

.tile4 {
    @extend .tile3;
    width: 24%;
    padding-bottom: 24%;
}

.wrap {
    overflow: hidden;
    margin: 10px 10px 0 10px;
}

.tileInner,
.calcslot {
    font-size: 7vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}


/* uncss:ignore */

.tileInner.digits2 {}


/* uncss:ignore */

.tileInner.digits3 {
    font-size: 5vw;
}


/* uncss:ignore */

.tileInner.digits4 {
    font-size: 3vw;
}

@media only screen and (max-width: 480px) and (orientation:portrait) {
    /* Smartphone view: 1 tile */
    .tile3,
    .tile6 {
        width: 32%;
        padding-bottom: 32%;
    }
    .tile4 {
        width: 48%;
        padding-bottom: 48%;
    }
    .tile-end {
        margin-right: 0;
    }
    .tileInner,
    .calcslot {
        font-size: 20vw;
    }
    .tileInner.digits2 {}
    .tileInner.digits3 {
        font-size: 12vw;
    }
    .tileInner.digits4 {
        font-size: 9vw;
    }
}

@media only screen and (max-width: 360px) {
    /* Smartphone view: 1 tile */
    .tile3,
    .tile6 {
        width: 32%;
        padding-bottom: 32%;
    }
    .tile4 {
        width: 48%;
        padding-bottom: 48%;
    }
    .tile-end {
        margin-right: 0;
    }
    .tileInner,
    .calcslot {
        font-size: 20vw;
    }
    .tileInner.digits2 {}
    .tileInner.digits3 {
        font-size: 12vw;
    }
    .tileInner.digits4 {
        font-size: 9vw;
    }
}

.slot,
.nslot,
.cslot {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}

.nslot {
    width: 60px;
    line-height: 60px;
}

.target {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 75px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}

.clock {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 75px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}


/* uncss:ignore */

.slot-selected .tileInner,
.slot-selected .calcslot {
    border: 10px solid yellow;
    margin: -10px;
}


/* uncss:ignore */

.slot-done {
    background-color: darkgrey;
}

.slot-hide {
    display:none;
}


/* uncss:ignore */

.slot-changed {
    background-color: lightgreen;
}


/* uncss:ignore */

.slot-hover {
    cursor: pointer;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.letter-declare,
.word-declare,
/*.number-declare,*/
.number-calc,
.conundrum-declare/*,
.conundrum-buzz,
.letters-container,
.numbers-container,
.conundrum-container,
.clock-container*/ {
    display: none;
}

.clock-container {
    text-align: center;
}

.l-box {
    padding: 0 1em 1em 1em;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    cursor: pointer;
}


/* sm and below*/

@media screen and (max-width:47.938em) {
    .hidden-sm {
        display: none !important
    }
    .visible-sm {
        display: inline
    }
    div.visible-sm {
        display: block
    }
    .feed {
        width: 100%;
        height: 45px;
        overflow-y: scroll;
        border: 2px solid darkgrey;
        margin-top: 2px;
    }
}


/* md and greater */

@media screen and (min-width:48em) {
    .hidden-sm {
        display: inline
    }
    div.hidden-sm {
        display: block
    }
    .visible-sm {
        display: none !important
    }
}

.pure-form input[type=text][disabled] {
    color: #555;
}

.control-label {
    font-weight: bold;
}

.cent {
    text-align: center;
}