.feed {
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    border: 2px solid darkgrey;
    margin-top: 10px;
}

.slots {
    position: relative;
    min-height: 1px;
}

@media (min-width: 512px) {
    .slots {
        float: left;
        margin-right: 3px;
    }
    .narrow-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 512px) {
    .slots, .letter-declare {
        text-align: center;
    }
}

.slot,
.nslot,
.cslot,
.calcslot {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-family: CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}

.nslot {
    width: 60px;
    line-height: 60px;
}

.target {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 75px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-family: CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}

.clock {
    border: 1px solid darkgrey;
    display: inline-block;
    width: 75px;
    line-height: 40px;
    margin-right: 1px;
    margin-top: 4px;
    font-family: CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 84, 176);
    color: white;
}


/* uncss:ignore */

.slot-selected {
    border: 2px solid yellow;
    margin: 3px 0px -1px -1px;
}


/* uncss:ignore */

.slot-done {
    background-color: darkgrey;
}


/* uncss:ignore */

.slot-changed {
    background-color: lightgreen;
}


/* uncss:ignore */

.slot-hover {
    cursor: pointer;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.letter-declare,
.word-declare,
.number-declare,
.number-calc,
.conundrum-declare,
.conundrum-buzz,
.letters-container,
.numbers-container,
.conundrum-container {
    display: none;
}