.action-drawer
  .modal-content.narrow
    ul
      li
        button#resumebtn.nice-button Resume
      li
        button#savebtn.nice-button Save
      li
        button#feedbackbtn.nice-button Submit feedback
      li
        a#infobtn.nice-button(href="http://wiki.apterous.org/Episode_"+episodeNumber,target="_blank") Game info
      li
        button#quitbtn.nice-button Quit
