.action-drawer
  .modal-content.narrow
    ul
      li
        button#resumebtn.nice-button Resume
    ul
      li
        button#savebtn.nice-button Save
    ul
      li
        button#feedbackbtn.nice-button Submit feedback
    ul
      li
        button#infobtn.nice-button Game info
    ul
      li
        button#quitbtn.nice-button Quit
