.action-drawer
  .modal-content.narrow
    ul
      li
        button#resumebtn.nice-button Resume
      li
        button#savebtn.nice-button Save
      li
        button#feedbackbtn.nice-button Submit feedback
      li
        button#infobtn.nice-button Game info
      li
        button#quitbtn.nice-button Quit
