#conundrum-page.conundrum-container.page
  .pure-g
    .pure-u-1
      .slots
        span.cslot  
        span.cslot  
        span.cslot  
      .slots
        span.cslot  
        span.cslot  
        span.cslot  
      .slots
        span.cslot  
        span.cslot  
        span.cslot  
  .pure-g
    .pure-u-1.conundrum-buzz
      button#buzz.btn.btn-danger(type='button') BUZZ!
    .pure-u-1.conundrum-declare
      .input-group
        input#conundrum.form-control(type='text', placeholder='Enter conundrum...')
        span.input-group-btn
          button#goConundrum.btn.btn-default(type='button') Submit!
