#conundrum-page.conundrum-container.page
  .pure-g
    .pure-u-1.letter-board
      .wrap
        - var word = "COUNTDOWN"
        while word.length>0
          .tile3(class=n%3===0 ? 'tile-end' : '')
            .tileInner= word[0]
            - word=word.substr(1)
  .pure-g
    .pure-u-1.conundrum-buzz
      button#buzz.pure-button.button-error.button-xlarge(type='button') BUZZ!
      
  .pure-g
    .pure-u-1
      .wrap
        form.pure-form.conundrum-declare
          input#conundrum.hidden-sm(type='text', placeholder='Enter conundrum...')
          input#conundrumalt.visible-sm(type='text', placeholder='Tap letters to spell conundrum...', disabled='')
          button#undoConundrumLetter.pure-button.visible-sm(type='button') Undo
          button#goConundrum.pure-button(type='button') Submit!
