#conundrum-page.conundrum-container.page
  .pure-g
    .pure-u-1.letter-board
      .wrap
        - var word = "COUNTDOWN"
        while word.length>0
          .tile3(class=n%3===0 ? 'tile-end' : '')
            .tileInner= word[0]
            - word=word.substr(1)
  .pure-g
    .pure-u-1.conundrum-buzz
      button#buzz.btn.btn-danger(type='button') BUZZ!
    .pure-u-1.conundrum-declare
      .input-group
        input#conundrum.form-control(type='text', placeholder='Enter conundrum...')
        span.input-group-btn
          button#goConundrum.btn.btn-default(type='button') Submit!
