#conundrum-page.conundrum-container.page
  .letter-grid
    - var word = ["OWN","NTD","COU"]
    while word.length > 0
      .tile-triplet
        - var w = word.pop()
        while w.length > 0
          .letter-tile
            .tile-wrapper
              .tile= w[0]
              - w = w.substr(1)
  .pure-g
    .pure-u-1.conundrum-buzz
      button#buzz.pure-button.button-error.button-xlarge(type='button') BUZZ!
  #message
