#letters-page.letters-container.page
  .letter-grid
    - var n = 1
    while n < 4
      .tile-triplet
        - var m = 1
        while m < 4
          .letter-tile
            .tile-wrapper
              .tile 
              - m++
        - n++
  .letter-declare.hidden
    - var n = 0
    while n < 3
      .tile-triplet
        - var m = 1
        while m < 4
          .letter-tile
            .tile-wrapper
              .tile= 3*n+m
              - m++
        - n++
  #message
  .pure-g
    .pure-u-1
      .wrap
        form.pure-form.word-declare
          input#word.hidden-sm(type='text', placeholder='Enter word...')
          input#wordalt.visible-sm(type='text', placeholder='Tap letters to spell word...', disabled='')
          button#undoLetter.pure-button.visible-sm(type='button') Undo
          button#goWord.pure-button(type='button') Submit!
