#letters-page.letters-container.page
  .pure-g
    .pure-u-1.letter-board
      .wrap
        - var n = 1
        while n < 10
          .tile3(class=n%3===0 ? 'tile-end' : '')
            .tileInner
            - n++
  .pure-g
    .pure-u-1.letter-declare
      .wrap
        - var n = 1
        while n < 10
          .tile3.button-success(class=n%3===0 ? 'tile-end' : '')
            .tileInner= n++
  .pure-g
    .pure-u-1
      .wrap
        form.pure-form.word-declare
          input#word.hidden-sm(type='text', placeholder='Enter word...')
          input#wordalt.visible-sm(type='text', placeholder='Tap letters to spell word...', disabled='')
          button#undoLetter.pure-button.visible-sm(type='button') Undo
          button#goWord.pure-button(type='button') Submit!
