#numbers-page.numbers-container.page
  .target 
    span Target
    span.target-number 000
  .number-grid
    - var n = 1
    while n < 3
      .tile-triplet
        - var m = 1
        while m < 4
          .number-tile
            .tile-wrapper
              .tile.tile-n
              - m++
        - n++
  .number-calc
    .button-bar
      button.nice-button.calcslot(data-operator='add') +
      button.nice-button.calcslot(data-operator='subtract') -
      button.nice-button.calcslot(data-operator='divide') ÷
      button.nice-button.calcslot(data-operator='times') ×
    .button-bar
      button#messedUp.nice-button(type='button') Messed it up!!
  #message
  #ivegot.button-bar(style="display:none")
    span(style="font-size:2.5em") I've got..
    select#number.number-select
      - var n = target-10
      while n <= target+10
        option(value=n, selected=n===target ? '' : undefined)
          = n++
