#numbers-page.numbers-container.page
  .target 000
  .number-grid
    - var n = 1
    while n < 3
      .tile-triplet
        - var m = 1
        while m < 4
          .number-tile
            .tile-wrapper
              .tile.tile-n
              - m++
        - n++
  .number-calc
    button.nice-button.calcslot(data-operator='add') +
    button.nice-button.calcslot(data-operator='subtract') -
    button.nice-button.calcslot(data-operator='divide') ÷
    button.nice-button.calcslot(data-operator='times') ×
    div
      button#messedUp.nice-button(type='button') Messed it up!!
  .pure-g
    .pure-u-1.number-declare
      form.pure-form
        fieldset
          legend I've got..
          select#number.number-select
            - var n = target-10
            while n <= target+10
              option(value=n, selected=n===target ? '' : undefined)
                = n++
